/* CSS for main element */
main {
    max-width: 800px;
  }
  
  /* CSS for nav element */
  nav {
    background-color: #333;
    padding: 10px;
    text-align: center;
  }
  
  /* CSS for nav anchor elements */
  nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
  }
  
  /* CSS for heading 1 */
  h1 {
    color: #333;
  }
  
  /* CSS for aside element */
  aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f7f7f7;
    color: #333;
    text-align: center;
  }
  /* CSS for aside image */
  aside img {
    width: 200px; /* Make the image fill its container */
    height: auto;
    display: block; /* Remove any extra spacing below the image */
    margin-bottom: 10px; /* Add some space below the image */
  }
  
  /* Set width and height for main profile image */
  main img {
    width: 150px;
    height: auto;
  }
  
  /* Set padding for paragraph inside main */
  main p {
    padding: 0;
  }
  
  /* CSS for footer element */
  footer {
    margin-top: 20px;
    border-top: 1px solid #ccc;
    text-align: center;
  }
  